<section class="section-hero">
  <div class="container">
    <h1 class="hero-title">Hello. <br> I’m Fullstack developer Lloyd Jefferson.</h1>
    <ul class="soc-icon">
      <li class="soc-item-icon">
        <a class="soc-icon-link" href="https://www.instagram.com/goitclub/">
          <svg class="soc-icom-svg" width="15" height="19">
            <use href="../img/icons.svg#icon-IG"></use></svg
        ></a>
      </li>
      <li class="soc-item-icon">
        <a class="soc-icon-link" href="https://www.facebook.com/goITclub/" target="_blank>
          <svg class="soc-icom-svg" width="19" height="19">
            <use href="../images/icons.svg#icon-FB"></use></svg
        ></a>
      </li>
      <li class="soc-item-icon">
        <a class="soc-icon-link" href="https://www.youtube.com/c/GoIT " target="_blank>
          <svg class="soc-icom-svg" width="20" height="19">
            <use href="../images/icons.svg#icon-YT"></use></svg
        ></a>
      </li>
      <li class="soc-item-icon">
        <a
          class="soc-icon-link"
          href="oleksiyvoloshyn.github.io/projectJavaGrop" target="_blank
        >
          <svg class="soc-icom-svg" width="23" height="19">
            <use href="../img/icon.svg#icon-GH"></use></svg
        ></a>
      </li>
      <li class="contact-item">
        <a class="contact-link" href="mailto:lloydjefferson@gmail.com" target="_blank
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
