<section class="project">
    <div class="container container-project">
        <h2 class="project-header">Projects</h2>
        <div class="content">
            <!-- Hashtags -->
            <div class="i">
                <div class="hashtags">
                    <a href="#" class="hashtag">#react</a>
                    <a href="#" class="hashtag">#js</a>
                    <a href="#" class="hashtag">#nodejs</a>
                    <a href="#" class="hashtag">#git</a>
                </div>

                <!-- Заголовок -->
                <p class="programming">Programming Across Borders: Ideas, Technologies, Innovations</p>
                <a href="#" class="see-project">See project</a>
            </div>

            <!-- Зображення -->
            <div class="project-image">
                <ul>
                    <!-- Зображення 1 -->
                    <li>
                        <picture>
                            <source srcset="
                                ../img/Projects/desk-project/1-1.jpg 1x, ../img/Projects/desk-project/1-2.jpg 2x" 
                                media="(min-width: 1440px)" />
                            <source srcset="
                                ../img/Projects/desk-project/1-1.jpg 1x, ../img/Projects/desk-project/1-2.jpg 2x" 
                                media="(min-width: 768px)" />
                            <source srcset="
                                ../img/Projects/mobile-project/1-1.jpg 1x, ../img/Projects/mobile-project/1-2.jpg 2x" 
                                media="(max-width: 767px)" />
                            <img src="../img/Projects/desk-project/1-1.jpg" alt="Registration" width="614"
                                height="385" />
                        </picture>
                    </li>

                    <!-- Зображення 2 -->
                    <!-- <li>
                        <picture>
                            <source srcset="
                                ../img/Projects/desk-project/2-1.jpg 1x, ../img/Projects/desk-project/2-2.jpg 2x" 
                                media="(min-width: 1440px)" />
                            <source srcset="
                                ../img/Projects/desk-project/2-1.jpg 1x, ../img/Projects/desk-project/2-2.jpg 2x" 
                                media="(min-width: 768px)" />
                            <source srcset="
                                ../img/Projects/mobile-project/2-1.jpg 1x, ../img/Projects/mobile-project/2-2.jpg 2x" 
                                media="(max-width: 767px)" />
                            <img src="../img/Projects/desk-project/2-1.jpg" alt="Dog" width="614" height="385" />
                        </picture>
                    </li> -->

                    <!-- Зображення 3 -->
                    <!-- <li>
                        <picture>
                            <source srcset="
                                ../img/Projects/desk-project/3-1.jpg 1x, ../img/Projects/desk-project/3-2.jpg 2x" 
                                media="(min-width: 1440px)" />
                            <source srcset="
                                ../img/Projects/desk-project/3-1.jpg 1x, ../img/Projects/desk-project/3-2.jpg 2x" 
                                media="(min-width: 768px)" />
                            <source srcset="
                                ../img/Projects/mobile-project/3-1.jpg 1x, ../img/Projects/mobile-project/3-2.jpg 2x" 
                                media="(max-width: 767px)" />
                            <img src="../img/Projects/desk-project/3-1.jpg" alt="Vocab Builder" width="614"
                                height="385" />
                        </picture>
                    </li> -->
                </ul>
            </div>

            <!-- Стрілки -->
            <div class="svg-arrows">
                <button class="prev-arrow" type="button">
                    <svg class="arrow-icon" width="24" height="24">
                        <use href="../icon.svg#icon-svg-left"></use>
                    </svg>
                </button>
                <button class="next-arrow" type="button">
                    <svg class="arrow-icon" width="24" height="24">
                        <use href="../img/Projects/icon.svg#icon-svg-right" ></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>